<html layout:decorate="~{common/layout/layout}">
<div layout:fragment="content" class="container my-3">
	<!--게시글-->
	<div th:action="@{|/posts/${responseDTO.id}|}">
		<h4 class="border-bottom py-2" th:text="${responseDTO.title}"></h4>
		<div class="card my-3">
			<div class="card-body">
				<div clas="card-text" th:text="${responseDTO.content}"></div>
				<div class="d-flex justify-content-end">
					<div class="badge bg-light text-dark p-2">
						<div class="mb-2">
							<span th:if="${responseDTO.author != null}" th:text="${responseDTO.author.username}"></span>
						</div>
						<div th:text="${#temporals.format(responseDTO.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
					</div>
				</div>
			</div>
			<div class="my-3">
				<!-- 추천 -->
				<a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
					th:data-uri="@{|/posts/vote/${responseDTO.id}|}">
					추천
					<span class="badge rounded-pill bg-success" th:text="${#lists.size(responseDTO.voter)}"></span>
				</a>
				<!-- 수정 -->
				<a th:href="@{|/posts/modify/${responseDTO.id}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${responseDTO.author != null and #authentication.getPrincipal().getUsername() == responseDTO.author.username}"
					th:text="수정"></a>
				<!-- 삭제 -->
				<a href="javascript:void(0);" th:data-uri="@{|/posts/delete/${responseDTO.id}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
					th:if="${responseDTO.author != null and #authentication.getPrincipal().getUsername() == responseDTO.author.username}"
					th:text="삭제"></a>
			</div>
		</div>
	</div>
	<!--댓글 표시-->
	<h5 th:text="|${#lists.size(responseDTO.commentList)}개의 댓글이 있습니다.|"></h5>
	<div class="card my-3" th:each="comment : ${responseDTO.commentList}">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${comment.content}"></div>
			<div class="d-flex justify-content-end">
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${comment.userResponseDTO != null}" th:text="${comment.userResponseDTO.username}"></span>
					</div>
					<div th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
					<div th:if="${comment.modifiedDate != null}">
						<div class="mb-2">modified at</div>
						<div th:text="${#temporals.format(comment.modifiedDate, 'yyyy-MM-dd HH:mm')}"></div>
					</div>
				</div>
			</div>
			<div class="my-3">
				<!-- 수정 -->
				<a th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${comment.userResponseDTO != null and #authentication.getPrincipal().getUsername() == comment.userResponseDTO.username}"
					th:text="수정"></a>
				<!-- 삭제 -->
				<a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
					th:if="${comment.userResponseDTO != null and #authentication.getPrincipal().getUsername() == comment.userResponseDTO.username}"
					th:text="삭제"></a>
				<input type="hidden" th:value="${responseDTO.id}">
			</div>
		</div>
	</div>
	<!--댓글 작성-->
	<form th:action="@{|/comment/create/${responseDTO.id}|}" method="post" th:object="${commentCreateRequestDTO}">
		<div th:replace="~{common/fragments/form_errors :: formErrorsFragment}"></div>
		<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10"
			class="form-control"></textarea>
		<textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
		<input type="submit" value="댓글" class="btn btn-dark my-2">
	</form>
</div>

<!--js-->
<script layout:fragment="script" type='text/javascript'>
	const delete_elements = document.getElementsByClassName("delete");
	Array.from(delete_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
	const recommend_elements = document.getElementsByClassName("recommend");
	Array.from(recommend_elements).forEach(function (element) {
		element.addEventListener('click', function () {
			if (confirm("정말로 추천하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
</script>

</html>