<html layout:decorate="~{common/layout/layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pb-2">수정하기</h5>
	<form th:action="@{|/posts/modify/${postsUpdateRequestDTO.id}|}" th:object="${postsUpdateRequestDTO}" method="post">
		<!--<input type="hidden" name="id" th:value="${id}">-->
		<div th:replace="~{common/fragments/form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="title" class="form-label">제목</label>
			<input type="text" class="form-control" th:field="*{title}">
		</div>
		<div class="mb-3">
			<labelfor="content" class="form-label">내용</label>
			<textarea class="form-control" rows="10" th:field="*{content}"></textarea>
		</div>
		<input type="submit" value="저장하기" class="btn btn-primary my-2">
	</form>
</div>

</html>